blinker==1.8.2
cffi==1.16.0
click==8.1.7
colorama==0.4.6
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.0.0
praat-parselmouth==0.4.3
psola==0.0.1
pycparser==2.22
pypar==0.0.6
pypinyin==0.51.0
soundfile==0.12.1
tqdm==4.66.4
Werkzeug==3.0.3
